/* Header Styles */
/* @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:Marcellus; */
    font-style: normal;
    font-weight: normal

}


header {
    background-color: black;
}
body{
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-size: 16px;
}

.contenedor-header{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.logo-header{
    align-items: center;
    color: ivory;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-left: 2rem;
}

.logo-header h1{
    font-size: 4.5rem;
    margin: 2rem 0;
}
.logo-header i{
    font-size: 3rem;
}

.nav-header{
    display: flex;
    gap: 2rem;
}


.nav-header a{
    color: ivory;
    font-size: 1.8rem;
    transition: color .2s ease;

}

.nav-header a:hover{
    color:#ed8600 ;
}

nav a{
    text-decoration: none;
}

a, p{
    text-decoration: none;
}

div p {
    font-weight: lighter;
}

main{
    width: 70%;
}

.titulos-seccion::before{
    content:"~";
}

.titulos-seccion::after{
    content:"~";
}

.titulos-seccion {
    font-size: 2.8rem;
    color: #ED8600;
    text-align: center;
    text-decoration: underline overline;
  }
  .Formulario{
      margin-top: 50px;
  }
  
  #main-formulario{
      width: 100%;
  
  }
  
  #contenedor-formulario{
      width: 75%;
      margin: 5px auto;
      
  
  }
  #campos-ingreso{
      border: 1px solid black;
      border-radius: 5px;
      margin-top: 15px;
      background-color: rgb(245, 243, 243);
      margin-left: auto;
      margin-right: auto ;
      max-width: 430px;
  
  }
  
  #form-renta{
      width: 100%;
      padding: 0 1rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 430px;
  
  }
  
  .campos{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0.4rem;
      justify-content: center;
      align-items: center;
  }
  
  
  .campos label{
      font-size: 1.1rem;
      align-self: flex-start;
  }
  
  .campos input{
      font-size: 0.9rem;
      width: 80%;
      height: 1.4rem;
      padding-left: 2rem;
      border: 2px solid gray;
      border-radius: 2px;
  }
  
  .campos input[type=radio]{
      width: auto;
  }
  
  .campos input[type=date]{
      padding: 0;
  }
  
  .campos select{
      font-size: 0.9rem;
      width: 80%;
      height: 1.4rem;
      padding: 0rem;
      border: 2px solid gray;
      border-radius: 2px;
  
  }
  
  #botones{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  input{
      padding-left: 20px;
      padding-right: 20px;
      margin: 0.4rem;
  }
  
  
  #boton-enviar{
      background-color: #ED8600;
      border: 1px solid ;
      margin-left: 30px ;
  }
  
@media only screen and (max-width:415px){
    #renta-autos{
        font-size: 9px;
    }
}

@media only screen and (max-width: 650px) and (min-width: 415px) {
    #renta-autos{
        font-size: 11px;
    }
}
    